<cb-header-form [text]="text" (search)="searchBooks($event)"></cb-header-form>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
        <!--search result-->
        <div class="col-sm-6 mb-3" [ngClass]="{'border-radius':this.books?.length > 2}">
            <cb-search-result [text]="text" [active]="active" [books]="books" (setActive)="setActive($event)">
            </cb-search-result>
        </div>
        <div class="col-sm-6">
            <!-- Post preview-->
            <cb-info-book [items]="cart.items" [active]="active" (addTocart)="addToCart($event)"></cb-info-book>
            <!-- Pager-->
        </div>
    </div>
</div>