.form {
    position: relative
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af;
    font-size: 15px !important;
}

.form span {
    position: absolute;
    float: right;
    right: 0px;
    top: 0px;
    border-left: 1px solid #d1d5db;
}
.form span button.btn-secondary{
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #919294 !important;
}

.left-pan {
    padding-left: 7px;
}

.left-pan i {
    padding-left: 10px
}

.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px !important
}

.form-input:focus {
    box-shadow: none;
    border: none
}
